extends layout

block content
  h1= title
  button#coin-flip Coin Flip
  div#games-container
    div.h3 Coin Flip Champion:
      span#champion  #{champion} (#{seed})
    pre#games.prettyprint #{games}
