body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.games-btn {
  margin-bottom: 15px;
}

.games-container {
  margin-top: 5px;
  display: inline-block;
  max-width: 440px;
  margin-right: 15px;
}

.games-box {
  max-width: 425px;
  max-height: 1000px;
  overflow: scroll;
}